<footer class="">
  <div class="container">
    <div class="footer-columns">
      {% for column in site.data.footer %}
        <ul class="footer-links">
          <li>
            <h2>{{ column.title }}</h2>
          </li>
          {% for link in column.links %}
            <li>
              <a {% if link.new_window %}target="_blank"{% endif %} href="" {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}>
                {% if link.social_icon %}
                  {% include social-icon.html icon=link.social_icon %}
                {% endif %}

                {{ link.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}

      <ul class="footer-links">
        <li>
          <h2>{{ site.data.company.title }}</h2>
        </li>
        <li>{{ site.data.company.description }}</li>
        <li><a href="{{ site.baseurl }}/feed.xml">{% include social-icon.html icon="RSS" %} Subscribe with RSS</a></li>
      </ul>
    </div>
  </div>

  <div class="legal-line">
    <p class="container">
      &copy; {{ site.time | date: '%Y' }} {{ site.data.company.title }}
      &bull;
      Template by <a href="http://whaleen.github.io">Code Furniture</a>
    </p>
  </div>
</footer>
